@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    960, Markham Road<br>
    Scarborough, ON<br />
    <abbr title="Phone">P:</abbr>
    6479142926
</address>

<address>
    <strong>Email:</strong><a href="priyen4@gmail.com">priyen4@gmail.com</a><br />
    
</address>
